h1 {font-size:16px;}
h2 {font-size:14px;}
p {font-size:12px}
pre {
    font-size:14px;
    background-color: #F0F0E7;
    #background-image: url(//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Appunti_architetto_franc_01.svg/22px-Appunti_architetto_franc_01.svg.png);
    border-color: #cc9933;
    padding-left: 40px;
    min-height: 28px;
    border: 1px solid #eaecf0;
    white-space: pre-wrap;
}

#top {
    font-size:16px;
    background: #222;
    height: 52px;
    width: 100%;
    height: 50px;
}

#headNav nav ol li {
    list-style: none;
    float:left; 
	width:100px;
	height:50px;
	background:#900; 
	line-height:50px;
	text-align:center;
	margin-right:2px;
	color:#fff;
}

#headNav ol li a { 
	display:block;
	height:50px;
	text-decoration:none;
	color:#fff;
}
#headNav ol li a:hover { background:#999;}

ul { list-style:none; }

#page {
    list-style: none;
    width: 100%;
    height:100%;
    padding: 5px 20px 5px 5px;
    box-sizing: border-box;
    margin: 3 auto;
}

#left {
    width: 78%;
    float: left;
    line-height: 1.6;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    background-color: #f8f8fd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 30px rgba(10,10,0,0.1) inset;
}

#right {
    list-style:none;
    position: fixed;
    width: auto;
    left: 77%;
    margin:1px 9px 1px 15px;
    padding: 15px 20px 15px 15px;
    font-size: 16px;
    background-color: #f8f8fd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 30px rgba(10,10,0,0.1) inset;
}
