{% set dict=data %}
{% extends "base.html" %}

{% block page_nav %}
  {% autoescape false %}
    {{ page_nav }}
  {% endautoescape %}
{% endblock %}
		
{%- block page_main -%}
  {% autoescape true %}
  {% for category in H2 %}
  <h2> {{ category }}</h2>
  <hr>
    <ul>
    {%- for k in dict.keys() -%}
      {% if dict[k][0] == category %}
      <li> <a id={{ dict[k][1] }}  href='/{{ k }}' target="_self" >{{ dict[k][1] }}</a> </li>
      {% endif %}
    {%- endfor -%}
    </ul>
  {% endfor %}
  {% endautoescape %}
{%- endblock -%}

{% block page_content %}
  {% autoescape false %}
    {% for k in dict.keys() %}
	<li><a href="#{{ dict[k][1] }}" target="_self">{{ dict[k][1] }}</a></li>
	{% endfor %}
  {% endautoescape %}
{% endblock %}
