{% extends "base.html" %}
{% block page_nav %}
<nav>
  <ol>
    <li><a href=/>深蓝笔记</a></li>
	<li><a href="/about">ABOUT</a></li>     
  </ol>
</nav>
{% endblock %}


{% block page_main %}
<a id=现场运维自动化></a>
<h1> <a href="{{ url_for('static',filename='k8s-check.html') }}" target="_self" >现场运维自动化</a></li> </h1>
<p>在客户现场运维的时候，经常面临各种各样的问题，有些甚至是不段重复的机械劳动,这个时候就需要我们想尽办法去偷懒，去达到即快又好的解决问题，又能让自己在客户现场运维的节奏更轻松，更自在些！</p>
<hr>
{% endblock %}

{% block page_contect %}
<ul>
   目录
   </br>
   <hr>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
   <li><a href="#现场运维自动化" target="_self" >现场运维自动化</a></li>
</ul>
{% endblock %}
